{{>navbar}}
	<div class="content-a">
			<div class="content-b">
					<div class="side-bar-nav">
						{{# each data.posts.results}}
							<a href="#{{{toLowerCase title}}}">
								<div class="js-side-btn js-engagements btn-round">
									<span class="title">{{{toUpperCase title}}}</span>
								</div>
							</a>
						{{/each}}
					</div>
			</div>
	</div>
	<div class="scroll-container">
		<a class="scroll-anchor" href="#bridals">
			<span></span>
			<p class="center scroll-text">SCROLL DOWN</p>
		</a>

	</div>

	{{# each data.posts.results}}
		<div id="{{{title}}}" class="container background parallax" style="background-image:url({{{cloudinaryUrl image}}});" data-img-width="1600" data-img-height="1064" data-diff="100">
				<div class="content-a category-title">
						<div class="content-b">
							<a href="/portfolio/{{{toLowerCase title}}}">
								<h1 class="center">{{{toUpperCase title}}}</h1>
							</a>
						</div>
				</div>
				<div class="scroll-container">
					<a class="scroll-anchor" href="#weddings">
						<span></span>
						<p class="center scroll-text">SCROLL DOWN</p>
					</a>
				</div>
		</div>
	{{/each}}

<script src="/js/portfolio.js"></script>
<script src="/js/parallax.js"></script>
