<!-- {{>navbar}}

<div class="gallery">
  {{#each data.sessions}}
    <figure class="photo-inner">
      <h3>{{{toUpperCase name}}}</h3>
      <img src="{{{cloudinaryUrl heroImage}}}" alt="">
      <p>{{{content.extended}}}</p>
      {{#each images}}
      <img src="{{{cloudinaryUrl this}}}" alt="">
      {{/each}}
    </figure>
  {{/each}}
</div> -->


{{>navbar margin=true}}
{{#if data.sessions}}
	{{#with data.sessions.[0]}}

		<div class="blog">
		  <div class="blog__header">
		    <p>{{{date}}}</p>
		    <h3>{{{toUpperCase name}}}</h3>
		    <p>{{{content.extended}}}</p>
		  </div>
		</div>

		<div class="blog">
			  <div class="blog__images">
					{{#each images}}
			    <div class="blog__img">
			      <img class="blog__img__border" src={{{cloudinaryUrl this}}} alt="">
			    </div>
					{{/each}}
			  </div>
			</div>

	{{/with}}
{{/if}}

<script src="/js/blog.js"></script>
