  <div class="gallery__image">
    <a href="/blog/{{{toLowerCase ref}}}">
      <figure class="photo-inner">
        <img src="{{cloudinaryUrl img}}" alt="">
        <!-- <div class="photo-overlay">
          <div style="padding: 20px;">
            <h4 class="photo-overlay__title">
                {{{toUpperCase title}}}
            </h4>
            <div class="photo-overlay__description">
              {{{description}}}
            </div>
          </div>
        </div> -->
      </figure>
    </a>
    <div class="gallery__image__title">
      <p class="p-small gallery__image__date helvetica " style="margin: 0px;">{{date}}</p>
      <h2 style="margin: 0; font-size: 1.8em;">{{{title}}}</h2>
      <h3 style="margin: 0; margin-top: 0px; opacity: .3;">____</h3>
      <!-- {{>artwork img='img/art2.png'}} -->
    </div>
  </div>
